---
import Posts from "@/components/Posts.astro";
import Tags from "@/components/Tags.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Frontmatter, Post } from "@/types/frontmatter";
import { getCollection } from "astro:content";
export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const tags = [
    ...new Set(
      posts
        .map((p) => {
          return p.data.tags;
        })
        .flat()
    ),
  ];

  return tags.map((tag) => {
    return {
      params: { tag },
      props: { posts, tags },
    };
  });
};

type Props = {
  posts: Post[];
  tags: string[];
};

const { tag } = Astro.params;
const { posts, tags } = Astro.props;

let filteredPosts: Post[] = [];
if (tag) {
  filteredPosts = posts.filter((p) => p.data.tags?.includes(tag));
}
---

<BaseLayout pageTitle={`Posts tagged with ${tag}`}>
  <Tags tags={tags} />
  <p>Posts tagged with {tag}</p>
  <Posts posts={filteredPosts} />
</BaseLayout>
