---
import PostsPrerendered from "@/components/PostsPrerendered.astro";
import TagsPrerendered from "@/components/TagsPrerendered.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "My blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold mb-2">My blog</h1>
  <TagsPrerendered />
  <PostsPrerendered />
</BaseLayout>
