---
import type { getCollection } from "astro:content";

type Props = {
  posts: Awaited<ReturnType<typeof getCollection>>;
};

const { posts } = Astro.props;
---

{
  posts.map((post) => {
    return (
      <a
        class="hover:underline text-blue-500"
        href={`/posts/${post.slug}`}
        transition:name={`post-${post.id}`}
      >
        {post.data.title}
      </a>
    );
  })
}
